{% extends "dashboard.html" %}
{% block title %}AquaForecast | Dashboard{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h4>Dashboard</h4>
      <p>Welcome to the Dashboard</p>
    </div>
    <div class="col s12 m6">
      <canvas id="clock"></canvas>
    </div>
  </div>

  <div class="row">
    <!-- Card 1 -->
    <div class="col s12 m6">
      <div class="card rounded-corners">
        <div class="card-title blue-background white-text">
            Historical Analysis
        </div>
        <div class="card-content lighten-3">
          <p>Explore and analyze Historical Analysis.</p>
          <div id="historical-analysis-animation" style="width: 100%; height: 200px;"></div>
        </div>
        <div class="card-action center-align">
          <a href="{% url 'historical_analysis' %}" class="btn waves-effect waves-light blue">Go to Historical Analysis</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col s12 m6">
      <div class="card rounded-corners">
        <div class="card-title blue-background white-text">
            Spatial Analysis
        </div>
        <div class="card-content lighten-3">
          <p>Explore and analyze Spatial Analysis.</p>
          <div id="spatial-analysis-animation" style="width: 100%; height: 200px;"></div>
        </div>
        <div class="card-action center-align">
          <a href="{% url 'spatial_analysis' %}" class="btn waves-effect waves-light blue">Go to Spatial Analysis</a>
        </div>
      </div>
    </div>

    <!-- Add more cards as needed -->

  </div>
  <div class="row">
    <!-- Card 1 -->
    <div class="col s12 m6">
      <div class="card rounded-corners">
        <div class="card-title blue-background white-text">
            Environmental Factors
        </div>
        <div class="card-content lighten-3">
          <p>Explore and analyze Environmental Factors.</p>
          <div id="environmental-factors-animation" style="width: 100%; height: 200px;"></div>
        </div>
        <div class="card-action center-align">
          <a href="{% url 'environmental_factors' %}" class="btn waves-effect waves-light blue">Go to Environmental Factors</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col s12 m6">
      <div class="card rounded-corners">
        <div class="card-title blue-background white-text">
            Live Weather
        </div>
        <div class="card-content lighten-3">
          <p>Explore Live Weather and view weather patterns.</p>
          <div id="live-weather-animation" style="width: 100%; height: 200px;"></div>
        </div>
        <div class="card-action center-align">
          <a href="{% url 'weather' %}" class="btn waves-effect waves-light blue">Go to Live Weather</a>
        </div>
      </div>
    </div>

    <!-- Add more cards as needed -->

  </div>
  <div class="row">
    <!-- Card 1: Upload Dataset -->
    <div class="col s12 m6">
      <div class="card rounded-corners">
        <div class="card-title blue-background white-text">
          Upload Dataset
        </div>
        <div class="card-content lighten-3">
          <p>Upload your dataset to perform analysis.</p>
          <div id="upload-dataset-animation" style="width: 100%; height: 200px;"></div>
        </div>
        <div class="card-action center-align">
          <a href="{% url 'upload_dataset' %}" class="btn waves-effect waves-light blue">Go to Upload Page</a>
        </div>
      </div>
    </div>

    <!-- Card 2: Visualizations -->
    <div class="col s12 m6">
      <div class="card rounded-corners">
        <div class="card-title blue-background white-text">
          Data
        </div>
        <div class="card-content lighten-3">
          <p>Enter real time data or view all the past data.</p>
          <div id="data-animation" style="width: 100%; height: 200px;"></div>
        </div>
        <div class="card-action center-align">
          <a href="{% url 'data' %}" class="btn waves-effect waves-light blue">Go to Data</a>
        </div>
      </div>
    </div>

  </div>

</div>

<style>
  .card-title {
    background-color: #003E78; /* Set the background color for card titles */
    color: white; /* Set the text color for card titles */
    padding: 10px; /* Adjust padding as needed */
    font-size: 1.5rem; /* Adjust font size as needed */
    text-align: center; /* Center-align text */
  }

  .card-action {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust margin as needed */
  }
  .rounded-corners {
    border-radius: 8px; /* Adjust the border radius for the entire card */
    overflow: hidden; /* Ensure content within rounded corners respects the border-radius */
  }
  .btn{
    background: #003E78 ! important;
  }
  #clock {
    background: #003E78 ! important;
    position: absolute;
    top: 30%;
    right: 6%;
    width: 120px;
    transform: translate(50%,-50%);
    border-radius: 5%;
  }
</style>

<script>
  $(".dropdown-trigger").dropdown();
  // Initialize Lottie animations
  document.addEventListener('DOMContentLoaded', function() {
    lottie.loadAnimation({
      container: document.getElementById('historical-analysis-animation'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: "{% static 'json/Animation - 1718449819893.json' %}" // Replace with your Lottie JSON URL
    });

    lottie.loadAnimation({
      container: document.getElementById('spatial-analysis-animation'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: "{% static 'json/Animation - 1718449157573.json' %}" // Replace with your Lottie JSON URL
    });

    lottie.loadAnimation({
      container: document.getElementById('environmental-factors-animation'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: "{% static 'json/Animation - 1718449553949.json' %}" // Replace with your Lottie JSON URL
    });

    lottie.loadAnimation({
      container: document.getElementById('live-weather-animation'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: "{% static 'json/Animation - 1718449765665.json' %}"
    });

    lottie.loadAnimation({
      container: document.getElementById('upload-dataset-animation'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: "{% static 'json/CKmtuoEiGU.json' %}" // Replace with your Lottie JSON URL
    });

    lottie.loadAnimation({
      container: document.getElementById('data-animation'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: "{% static 'json/wJiGAb7bPj.json' %}" // Replace with your Lottie JSON URL
    });
  });

  
  var canvas = document.getElementById("clock");
var ctx = canvas.getContext("2d");
setInterval(drawClock, 1000); //runs drawClock every second (1000 miliseconds)

//---FUNCTIONS---//

function drawClock() {
  canvas.style.background = "#222222";
  sizeToWindow(ctx);
  drawFace(ctx, face_radius);
  drawMeridiem(ctx,face_radius);
  drawNumbers(ctx, face_radius);
  setTime(ctx, face_radius);
}

function sizeToWindow(ctx) {
  if (window.innerWidth > window.innerHeight) {
    canvas.height = window.innerHeight*.8
    canvas.width = canvas.height
  } else {
    canvas.width = window.innerWidth*.8
    canvas.height = canvas.width
  }
  ctx.translate(canvas.width/2, canvas.height/2);
  face_radius = canvas.height*.45;
}

function drawFace(ctx, face_radius) {
  var grad;
  ctx.beginPath();
  ctx.arc(0, 0, face_radius, 0, 2*Math.PI);
  ctx.fillStyle = 'white';
  ctx.fill();
  ctx.beginPath();
  ctx.arc(0, 0, face_radius*0.075, 0, 2*Math.PI);
  ctx.fillStyle = '#333333';
  ctx.fill();
}

function drawMeridiem(ctx, face_radius) {
  // am/pm
  var meridiem = new Date().getHours() <= 11 ? "AM" : "PM"
  ctx.font = face_radius*.08 + "px 'Raleway', Arial, sans-serif";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  ctx.fillStyle = "#333333";
  ctx.fillText(meridiem, 0, face_radius*.4);
  // box
  ctx.lineWidth=face_radius*.005;
  ctx.strokeStyle="#333333";
  ctx.strokeRect(face_radius*-.08,face_radius*.34,face_radius*.16,face_radius*.115)
}

function drawNumbers(ctx, face_radius) {
  var ang;
  var num;
  ctx.font = face_radius*.12 + "px 'Raleway', Arial, sans-serif";
  ctx.textBaseline="middle";
  ctx.textAlign="center";
  for(num = .2; num <= 12; num += .2){
    ang = num * Math.PI / 6;
    ctx.rotate(ang);
    ctx.translate(0, -face_radius*0.85);
    ctx.rotate(-ang);
    if (num.toFixed(1) % 1 === 0) {
      ctx.fillStyle = "#222222";
      ctx.fillText(num.toFixed().toString(), 0, 0);
    } else {
      ctx.beginPath();
      ctx.arc(0, 0, face_radius*0.005, 0, 2*Math.PI);
      ctx.fillStyle = "#999999";
      ctx.fill();
    }
    ctx.rotate(ang);
    ctx.translate(0, face_radius*0.85);
    ctx.rotate(-ang);
  }  
}

function drawHand(ctx, pos, length, width, color) {
    ctx.beginPath();
    ctx.lineWidth = width;
    ctx.strokeStyle=color;
    ctx.moveTo(0,0);
    ctx.rotate(pos);
    ctx.lineTo(0, -length);
    ctx.stroke();
    ctx.rotate(-pos);
}

function setTime(ctx, face_radius){
    var now = new Date();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    ctx.lineCap="round";
    //hour
    hour=hour%12;
    hour=(hour*Math.PI/6)+
    (minute*Math.PI/(6*60))+
    (second*Math.PI/(360*60));
    drawHand(ctx, hour, face_radius*0.5, face_radius*0.075, "#333333");
    //minute
    minute=(minute*Math.PI/30)+(second*Math.PI/(30*60));
    drawHand(ctx, minute, face_radius*0.65, face_radius*0.065, "#333333");
    // second
    second=(second*Math.PI/30);
    drawHand(ctx, second, face_radius*0.85, face_radius*0.02, "red");
    ctx.beginPath();
    ctx.arc(0, 0, face_radius*0.03, 0, 2*Math.PI);
    ctx.fillStyle = "red";
    ctx.fill();
}
</script>

{% endblock %}
